:root {
  --border-radius: 6px;

  --white: #ffffff;
  --black: #000000;
  --gh-black-1: #24292e;
  --gh-black-2: #2b3137;
  --gh-black-3: #546268;
  --gh-gray-1: #e1e4e8;
  --gh-gray-2: #fafbfc;
  --gh-gray-3: #f9f9f9;
  --gh-green-1: #216e39;
  --gh-green-2: #2c974b;
  --gh-green-3: #2ea44f;
  --gh-blue-1: #0366d6;
  --gh-blue-2: #bad1f4;
}
